body {
    background-color: #888888;
}

div.protein-label{
    background-color:#888888;
    color:black;
    text-align:center;
    padding:5px;
}

/* this to select single pages
 * #pageone.ui-page */
.ui-page{
    background: url(img/Myoglobin.png) no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.left_logo {
	float: left;
	height: 80px;
	padding-right: 10px;
}

.right_logo {
	float: right;
	height: 80px;
	padding-left: 10px;
}

.header_title {
	min-width: 100%;
	text-align: center;
}

span#header_container {
	font-size: larger;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* the header title can be a link but it must not change color */
a#header_link {
	color: inherit;
	text-decoration: none;
} 

